### What are the levels of demand by passengers on direct and non-stop flights?

In [271]:
import numpy as np
import pandas as pd
import chart_studio.plotly as py
import cufflinks as cf
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objs as go
from plotly.subplots import make_subplots

from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
init_notebook_mode(connected=True)
cf.go_offline

import warnings
warnings.filterwarnings('ignore')

In [272]:
df = pd.read_csv('clean_dataset.csv')

df['destinations'] = df['source_city'] + '_' + df['destination_city']

df.drop(df.columns[0], axis=1, inplace=True)

df

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,destinations
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,Delhi_Mumbai
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,Delhi_Mumbai
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,Delhi_Mumbai
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,Delhi_Mumbai
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,Delhi_Mumbai
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265,Chennai_Hyderabad
300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105,Chennai_Hyderabad
300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099,Chennai_Hyderabad
300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585,Chennai_Hyderabad
300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585,Chennai_Hyderabad

In [273]:
df['direct_flight'] = (df['stops'] == 'zero').astype(int)
df['non_direct_flight'] = (df['stops'] != 'zero').astype(int)

df

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,destinations,direct_flight,non_direct_flight
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,Delhi_Mumbai,1,0
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,Delhi_Mumbai,1,0
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,Delhi_Mumbai,1,0
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,Delhi_Mumbai,1,0
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,Delhi_Mumbai,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265,Chennai_Hyderabad,0,1
300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105,Chennai_Hyderabad,0,1
300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099,Chennai_Hyderabad,0,1
300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585,Chennai_Hyderabad,0,1
300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585,Chennai_Hyderabad,0,1

In [274]:
df['flight_type'] = np.where(df['direct_flight'] == 1, 'Direct', 'Non-Direct')
# df['flight_type'] = np.where(df['non_direct_flight'] != 1, 'Direct', 'Non-Direct')
df

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,destinations,direct_flight,non_direct_flight,flight_type
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,Delhi_Mumbai,1,0,Direct
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,Delhi_Mumbai,1,0,Direct
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,Delhi_Mumbai,1,0,Direct
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,Delhi_Mumbai,1,0,Direct
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,Delhi_Mumbai,1,0,Direct
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265,Chennai_Hyderabad,0,1,Non-Direct
300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105,Chennai_Hyderabad,0,1,Non-Direct
300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099,Chennai_Hyderabad,0,1,Non-Direct
300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585,Chennai_Hyderabad,0,1,Non-Direct
300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585,Chennai_Hyderabad,0,1,Non-Direct

In [275]:
direct_flights = df.loc[df['flight_type'] == 'Direct', ['destinations', 'duration', 'days_left', 'price', 'class']]
direct_flights

             destinations  duration  days_left  price     class
0            Delhi_Mumbai      2.17          1   5953   Economy
1            Delhi_Mumbai      2.33          1   5953   Economy
2            Delhi_Mumbai      2.17          1   5956   Economy
3            Delhi_Mumbai      2.25          1   5955   Economy
4            Delhi_Mumbai      2.33          1   5955   Economy
...                   ...       ...        ...    ...       ...
299945  Chennai_Hyderabad      1.42         45  15000  Business
299987  Chennai_Hyderabad      1.42         46  15000  Business
300029  Chennai_Hyderabad      1.42         47  15000  Business
300069  Chennai_Hyderabad      1.33         48  15000  Business
300111  Chennai_Hyderabad      1.42         49  15000  Business

[36004 rows x 5 columns]

In [276]:
non_direct_flights = df.loc[df['flight_type'] == 'Non-Direct', ['destinations', 'duration', 'days_left', 'price', 'class']]
non_direct_flights

             destinations  duration  days_left  price     class
18           Delhi_Mumbai     12.25          1   5949   Economy
19           Delhi_Mumbai     16.33          1   5949   Economy
20           Delhi_Mumbai     11.75          1   5954   Economy
21           Delhi_Mumbai     14.50          1   5954   Economy
22           Delhi_Mumbai     15.67          1   5954   Economy
...                   ...       ...        ...    ...       ...
300148  Chennai_Hyderabad     10.08         49  69265  Business
300149  Chennai_Hyderabad     10.42         49  77105  Business
300150  Chennai_Hyderabad     13.83         49  79099  Business
300151  Chennai_Hyderabad     10.00         49  81585  Business
300152  Chennai_Hyderabad     10.08         49  81585  Business

[264149 rows x 5 columns]

In [277]:
direct_flights = df.loc[df['flight_type'] == 'Direct', ['destinations', 'duration', 'days_left', 'price', 'class']].drop_duplicates(subset='destinations').value_counts().sum()
direct_flights

30

In [278]:
direct_flights = df.loc[df['flight_type'] == 'Direct', ['destinations', 'duration', 'days_left', 'price', 'class']].drop_duplicates(subset='destinations')
direct_flights

               destinations  duration  days_left  price    class
0              Delhi_Mumbai      2.17          1   5953  Economy
9982        Delhi_Bangalore      2.50          1   7425  Economy
20126         Delhi_Kolkata      2.17          1   5954  Economy
28780       Delhi_Hyderabad      2.17          1   6060  Economy
35361         Delhi_Chennai      2.92          1   7425  Economy
43027          Mumbai_Delhi      2.25          1   5943  Economy
52828      Mumbai_Bangalore      1.58          1   5102  Economy
61534        Mumbai_Kolkata      2.50          1   7412  Economy
70308      Mumbai_Hyderabad      1.42          1   4841  Economy
77300        Mumbai_Chennai      2.08          1   9513  Economy
84065       Bangalore_Delhi      2.83          1   7489  Economy
94024      Bangalore_Mumbai      1.58          1   5284  Economy
102769    Bangalore_Kolkata      2.50          1   6963  Economy
109654  Bangalore_Hyderabad      1.17          1   6202  Economy
115568    Bangalore_Chennai      1.08          1   7016  Economy
119685        Kolkata_Delhi      2.50          1   6488  Economy
127503       Kolkata_Mumbai      2.83          1   7958  Economy
135604    Kolkata_Bangalore      2.67          1   6488  Economy
142498    Kolkata_Hyderabad      2.17          1   6488  Economy
148055      Kolkata_Chennai      2.33          1   6909  Economy
152561      Hyderabad_Delhi      2.25          1  11698  Economy
158576     Hyderabad_Mumbai      1.50          1  10648  Economy
165567  Hyderabad_Bangalore      1.25          1   4452  Economy
170734    Hyderabad_Kolkata      2.00          1  11278  Economy
176341    Hyderabad_Chennai      1.25          1   6343  Economy
180495        Chennai_Delhi      2.75          1  15752  Economy
187556       Chennai_Mumbai      1.92          1  15647  Economy
193843    Chennai_Bangalore      1.08          1   9557  Economy
197804      Chennai_Kolkata      2.17          1   5987  Economy
202655    Chennai_Hyderabad      1.25          1  11027  Economy

In [279]:
non_direct_flights = df.loc[df['flight_type'] == 'Non-Direct', ['destinations', 'duration', 'days_left', 'price', 'class']].drop_duplicates(subset='destinations')
non_direct_flights

               destinations  duration  days_left  price    class
18             Delhi_Mumbai     12.25          1   5949  Economy
9998        Delhi_Bangalore      7.58          1   7423  Economy
20130         Delhi_Kolkata     16.00          1   5954  Economy
28786       Delhi_Hyderabad     13.75          1   5953  Economy
35369         Delhi_Chennai     26.33          1   7425  Economy
43035          Mumbai_Delhi     13.50          1   5942  Economy
52832      Mumbai_Bangalore     13.58          1   5102  Economy
61536        Mumbai_Kolkata     14.00          1   7412  Economy
70313      Mumbai_Hyderabad     13.00          1   7584  Economy
77298        Mumbai_Chennai      7.25          1   8883  Economy
84076       Bangalore_Delhi      5.83          1   7484  Economy
94027      Bangalore_Mumbai     11.17          1   5174  Economy
102767    Bangalore_Kolkata     11.75          1   5176  Economy
109655  Bangalore_Hyderabad      4.75          1   6638  Economy
115570    Bangalore_Chennai     15.08          1  12454  Economy
119686        Kolkata_Delhi      9.25          1   6353  Economy
127501       Kolkata_Mumbai     11.50          1   5070  Economy
135607    Kolkata_Bangalore     14.17          1   6488  Economy
142500    Kolkata_Hyderabad     13.00          1   8564  Economy
148053      Kolkata_Chennai     11.42          1   6488  Economy
152559      Hyderabad_Delhi      7.92          1   8393  Economy
158578     Hyderabad_Mumbai      4.50          1  10701  Economy
165568  Hyderabad_Bangalore      4.67          1   6025  Economy
170731    Hyderabad_Kolkata      5.08          1   8490  Economy
176343    Hyderabad_Chennai     12.75          1  10018  Economy
180498        Chennai_Delhi     11.75          2   7352  Economy
187555       Chennai_Mumbai      6.50          1  14833  Economy
193842    Chennai_Bangalore      5.08          1   7982  Economy
197807      Chennai_Kolkata     26.17          1  25833  Economy
202657    Chennai_Hyderabad     10.17          2   4307  Economy

In [280]:
direct_flights = df.loc[df['flight_type'] == 'Direct', ['destinations', 'duration', 'days_left', 'price', 'class']]
direct_flights_means = direct_flights.groupby('destinations').mean().reset_index().drop_duplicates(subset='destinations')
direct_flights_means

           destinations  duration  days_left         price
0     Bangalore_Chennai  1.044125  26.875000   2329.608333
1       Bangalore_Delhi  2.773808  25.745816  13215.595206
2   Bangalore_Hyderabad  1.222717  25.409817   3041.762557
3     Bangalore_Kolkata  2.528473  27.568862   4775.904192
4      Bangalore_Mumbai  1.792557  26.433639   7519.493578
5     Chennai_Bangalore  1.138333  27.377778   2101.504444
6         Chennai_Delhi  2.786882  25.306122  12463.246531
7     Chennai_Hyderabad  1.229007  27.215356   2660.925094
8       Chennai_Kolkata  2.391670  25.526427   5792.919662
9        Chennai_Mumbai  1.979359  26.119963   9015.339744
10      Delhi_Bangalore  2.783256  25.690801  13130.285064
11        Delhi_Chennai  2.848963  24.755981  11628.027911
12      Delhi_Hyderabad  2.222434  25.212310   9775.861687
13        Delhi_Kolkata  2.195788  26.021343  11156.082863
14         Delhi_Mumbai  2.213791  25.821438  11136.777284
15  Hyderabad_Bangalore  1.238432  26.188889   3076.138272
16    Hyderabad_Chennai  1.287792  27.607547   2677.586792
17      Hyderabad_Delhi  2.263544  25.711648  10371.478693
18    Hyderabad_Kolkata  2.041172  25.402020   6026.870707
19     Hyderabad_Mumbai  1.530212  26.476821   7574.855629
20    Kolkata_Bangalore  2.690802  26.279898   6277.475827
21      Kolkata_Chennai  2.382144  25.367615   6814.096280
22        Kolkata_Delhi  2.454752  26.201242  11354.091925
23    Kolkata_Hyderabad  2.213538  26.081319   6135.819780
24       Kolkata_Mumbai  2.847503  25.614815  10973.624339
25     Mumbai_Bangalore  1.740825  26.665648   7369.560513
26       Mumbai_Chennai  1.990201  26.056777   8975.697802
27         Mumbai_Delhi  2.185311  25.963459  10969.784100
28     Mumbai_Hyderabad  1.440362  25.918499   7232.047865
29       Mumbai_Kolkata  2.644094  25.392283  10672.198285

In [281]:
df.loc[df['flight_type'] == 'Non-Direct', 'class'].unique()

array(['Economy', 'Business'], dtype=object)

In [282]:
non_direct_flights = df.loc[df['flight_type'] == 'Non-Direct', ['destinations', 'duration', 'days_left', 'price', 'class']]
non_direct_flights_means = non_direct_flights.groupby('destinations').mean().reset_index().drop_duplicates(subset='destinations')
non_direct_flights_means

           destinations   duration  days_left         price
0     Bangalore_Chennai  15.567782  26.534570  25021.053457
1       Bangalore_Delhi  11.121713  25.940840  18586.593850
2   Bangalore_Hyderabad  15.570181  26.085320  23204.449329
3     Bangalore_Kolkata  13.853546  25.762607  24836.357906
4      Bangalore_Mumbai  12.223098  25.613234  25386.307944
5     Chennai_Bangalore  14.906824  26.191958  26793.112361
6         Chennai_Delhi  12.346389  26.744683  19914.944847
7     Chennai_Hyderabad  14.297447  25.965164  23406.544622
8       Chennai_Kolkata  15.396680  25.831951  23896.173118
9        Chennai_Mumbai  13.751283  25.652438  24586.800024
10      Delhi_Bangalore  11.761169  25.910206  18762.989590
11        Delhi_Chennai  13.695732  26.499370  20389.016796
12      Delhi_Hyderabad  14.407197  26.517381  18736.311850
13        Delhi_Kolkata  14.359649  25.648390  22016.041969
14         Delhi_Mumbai  12.879966  25.830510  21888.068703
15  Hyderabad_Bangalore  13.341536  26.667235  23448.191936
16    Hyderabad_Chennai  14.378130  26.204774  23580.436658
17      Hyderabad_Delhi  12.529072  26.705692  18607.207664
18    Hyderabad_Kolkata  14.294746  26.398825  21801.539509
19     Hyderabad_Mumbai  12.809061  26.077667  21095.157052
20    Kolkata_Bangalore  14.758458  26.146161  24176.908829
21      Kolkata_Chennai  15.688184  25.718367  24902.895416
22        Kolkata_Delhi  13.261000  26.001799  20882.550472
23    Kolkata_Hyderabad  14.564745  25.936307  22439.370062
24       Kolkata_Mumbai  13.903022  26.148641  23076.267155
25     Mumbai_Bangalore  13.047642  25.551782  25442.595164
26       Mumbai_Chennai  13.955772  25.331379  24450.008409
27         Mumbai_Delhi  12.255993  26.103083  21202.475766
28     Mumbai_Hyderabad  14.205781  25.702382  22101.886769
29       Mumbai_Kolkata  13.651814  25.863142  23315.180907

In [283]:
direct_flights_means['flight_type'] = 'Direct'
non_direct_flights_means['flight_type'] = 'Non-Direct'

df = direct_flights_means.append(non_direct_flights_means)
fig = px.scatter(df, 
                 x='duration', y='price', color='flight_type', 
                 hover_data=['destinations', 'days_left'], 
                 title='Flight Prices vs Durations by Type')
fig.show()

### Interestingly, as can be seen from the graph, although the prices of direct flights are cheaper, the majority of people chose connecting flights.